/**
 * ======================================================================
 * LICENSE: This file is subject to the terms and conditions defined in *
 * file 'license.txt', which is part of this source code package.       *
 * ======================================================================
 */

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?99287648');
    src: url('../font/fontello.eot?99287648#iefix') format('embedded-opentype'),
        url('../font/fontello.woff?99287648') format('woff'),
        url('../font/fontello.ttf?99287648') format('truetype'),
        url('../font/fontello.svg?99287648#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?99287648#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-spin4:before { content: '\e800'; } /* '' */
.icon-user-secret:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-trash-empty:before { content: '\e804'; } /* '' */
.icon-cog:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */
.icon-pencil:before { content: '\e807'; } /* '' */
.icon-arrows-cw:before { content: '\e808'; } /* '' */
.icon-lock-open-alt:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-filter:before { content: '\e80b'; } /* '' */
.icon-check:before { content: '\e80c'; } /* '' */
.icon-help-circled:before { content: '\e80d'; } /* '' */
.icon-box:before { content: '\e80e'; } /* '' */
.icon-folder:before { content: '\e80f'; } /* '' */
.icon-check-empty:before { content: '\e810'; } /* '' */
.icon-doc-text-inv:before { content: '\e811'; } /* '' */
.icon-home:before { content: '\e812'; } /* '' */
.icon-angle-double-right:before { content: '\e813'; } /* '' */
.icon-eye-off:before { content: '\e814'; } /* '' */
.icon-attention-circled:before { content: '\e815'; } /* '' */
.icon-eye:before { content: '\e816'; } /* '' */
.icon-basket:before { content: '\e817'; } /* '' */
.icon-download-cloud:before { content: '\e818'; } /* '' */

.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/** WORDPRESS **/
html, body {
    height: auto;
    min-height: 100%;
}

.postbox .inside {
    margin-bottom: 0;
    overflow: hidden;
}

.wp-admin select {
    height: 34px;
    line-height: 34px;
}

.metabox-holder h3 {
    letter-spacing: 1px;
    font-size: 1.2em;
}

.wrap {
    position: relative;
}

.js .postbox .hndle, .js .widget .widget-top {
    cursor: auto;
}

/** BOOTSTRAP **/
.row {
    position: relative;
}

a:focus, a:active {
    outline: none;
    box-shadow: none;
}

.text-info {
    color: #337ab7;
}

.tab-content {
    padding-top: 15px;
}

.nav-tabs > li > a {
    outline: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    box-shadow: none;
}

.input-sm, input[type="search"] {
    box-shadow: none;
    border-radius: 0;
}

div.error {
    box-shadow: none;
    margin: 0 0 15px 0 !important;
    padding: 0;
}

.form-control {
    box-shadow: none;
    height: 34px;
    border-radius: 0;
}

.list-group li {
    cursor: pointer;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.list-group li:hover {
    background-color: #EEEEEE;
}

.list-group li.active:hover {
    background-color: #337ab7;
}

.list-group li.active {
    background-color: #337ab7; 
    color: #FFFFFF; 
    font-weight: bold; 
}

.panel-title {
    font-size: 13px;
}

.panel-group .panel + .panel {
    margin-top: 2px;
}

.panel-heading a {
    outline: none;
    display: block;
    text-decoration: none;
}

.panel-heading a:hover, .panel-heading a:focus, .panel-heading a:active {
    box-shadow: none;
}

.panel-collapse label {
    margin-bottom: 0;
}

a.btn:focus, a.btn:active {
    outline: none !important;
}

.pagination > li > a:hover {
    border-color: transparent;
}

.pagination > li > a, .pagination > li > span {
    padding: 3px 10px;
}

.pagination > li > a:focus, .pagination > li > a:active {
    outline: none;
}

.pagination > .active a {
    box-shadow: none;
    outline: none;
}

.table {
    margin-bottom: 10px;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.btn-group-xs > .btn, .btn-xs {
    border-radius: 0;
}

.btn {
    border-radius: 0;
}

/** DATATABLES **/
.dataTables_info {
    float: left;
    font-weight: bold;
    font-size: 0.9em;
}

div.dataTables_filter {
    position: relative;
}

div.dataTables_filter label {
    margin-bottom: 0;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left;
}

#capability-list_wrapper div.dataTables_filter, 
#post-list_wrapper div.dataTables_filter {
    text-align: right;
}

div.dataTables_filter a.btn {
    float:right;
    border-radius: 0;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    vertical-align: middle;
}

/** AAM **/
input[type=checkbox] { /* to hide the checkbox itself */
    display:none; 
} 

input[type=checkbox] + label {
    width: 1.2em;
    font-weight: normal;
}

input[type=checkbox] + label:before {
    font-family: 'fontello';
    display: inline-block;
    font-size: 1.2em;
    content: "\e810"; /* unchecked icon */
}

input[type=checkbox]:checked + label:before { 
    font-size: 1.2em;
    content: "\e80c"; /* checked icon */
} 

input[type=checkbox].aam-checkbox-danger:checked + label:before {
    color: #a94442;
}

input[type="checkbox"]:focus, input[type="radio"]:focus {
    outline: none;
}

.aam-no-margin {
    margin-left: 0;
    margin-right: 0;
}

.aam-lock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(169, 68, 66, 0.2);
    z-index: 9999;
}

.aam-block {
    display: block;
}

.panel-title {
    position: relative;
}

.aam-panel-title-icon {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 1.2em;
    margin-top: -0.6em;
}

.table p {
    margin: 0;
}

.aam-margin-top-xs {
    margin-top: 15px !important;
}

.aam-bordered {
    padding: 15px;
    border: 1px solid #E5E5E5;
}

.row.aam-bordered {
    margin-left: 0;
    margin-right: 0;
}

.aam-list-action {
    float: right;
    font-size: 1.6em;
    line-height: 30px;
    cursor: pointer;
}

.visitor-message {
    border: 2px solid #F5F5F5;
    padding: 15px 10px;
}

.visitor-message span {
    margin-bottom: 15px;
    display: block;
    font-size: 1.1em;
    text-align: center;
}

.aam-row-actions {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.aam-row-action {
    display: table-cell;
    text-align: center;
    cursor: pointer;
    font-size: 1.4em;
    line-height: 1em;
}

.aam-confirm-message {
    font-size: 1.2em;
}

.aam-asterix {
    color: #a94442;
    font-weight: bold;
    margin-left: 3px;
}

.aam-sticky-note {
    position: absolute;
    top: 10px;
    right: 0px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0px 0px 12px 2px rgba(100,100,100,1);
    -moz-box-shadow: 0px 0px 12px 2px rgba(100,100,100,1);
    box-shadow: 0px 0px 12px 2px rgba(100,100,100,1);
    font-size: 1.6em;
    font-weight: 500;
    padding: 15px;
    z-index: 999;
    background-color: #FFFFFF;
}

.aam-submenu-item label {
    display: inline-block;
    width: 80%;
}

.aam-feature {
    display: none;
}

.aam-feature.active {
    display: block;
}

.aam-feature-top-actions {
    margin-bottom: 15px;
}

.aam-post-breadcrumb {
    border: 1px solid #E5E5E5;
    padding: 5px;
    margin-bottom: 15px;
}

.aam-post-breadcrumb a {
    text-decoration: none;
}

.aam-row-subtitle {
    display: block;
    font-size: 0.8em;
    font-style: normal;
}

.aam-notification-message {
    font-size: 1.2em;
    border: 1px solid #E5E5E5;
    padding: 10px;
}

.aam-help-menu {
    float: right;
    font-size: 1.2em;
    color: #337ab7;
    cursor: pointer;
}

.aam-help-menu.active {
    color: #a94442;
}

.aam-post-manager-container {
    position: relative;
    overflow: hidden;
}

.aam-post-manager, .aam-help-context {
    position: absolute;
    width: 100%;
    top: 0;
    left: 100%;
    background-color: #FFFFFF;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 2000;
}

.aam-post-manager.active, .aam-help-context.active {
    left: 0;
    z-index: 1000;
    position: relative;
}

.aam-post-manager .table td {
    vertical-align: middle;
}

.aam-table-group {
    font-size: 1.5em;
    border-bottom-width: 4px !important;
}

.aam-table-group small {
    font-size: 65%;
}

#post-list_wrapper {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#post-list_wrapper.aam-hidden {
    position: absolute;
    opacity: 0;
}

.aam-info {
    border-left: 3px solid #337ab7;
    background-color: #F5F5F5;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.aam-notification {
    border-left: 6px solid #F04748;
    background-color: #F5F5F5;
    padding: 10px;
    position: relative;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.aam-notification-icon {
    font-size: 6em;
    color: #F04748;
    text-align: center;
}

.aam-notification:after {
    content: ' ';
    display: block;
    clear:both;
}

.aam-error-list li {
    font-size: 1.2em;
}

.aam-menu-capability {
    color: #777777;
    font-weight: 400;
}

.aam-highlight {
    color: #a94442;
    font-weight: 700;
}

.aam-hint {
    font-size: 0.8em;
    -moz-hyphens: auto;
    word-wrap: break-word;
    text-align: justify;
}

.aam-welcome-message {
    background-color: #f1f1f1;
    color: #333333;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 0;
    opacity: 0;
    padding: 10px 30px 15px 30px;
    z-index: 10000;
    visibility: hidden;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}

.aam-welcome-message.active {
    width: calc(100% - 15px);
    width: -moz-calc(100% - 15px);
    height: auto;
    opacity: 1;
    visibility: visible;
}

.aam-welcome-message h1 {
    font-size: 2.2em;
}

.aam-welcome-message ul {
    list-style: disc;
    margin-left: 30px;
    font-size: 1.2em;
}

.aam-welcome-message p {
    font-size: 1.2em;
}

.dataTables_processing {
    border: 1px solid #cccccc;
    color: #337ab7;
    font-size: 0.8em;
    font-weight: 700;
    margin-top: -8px;
    padding: 2px 5px;
}

.aam-loading {
    width: 100%; 
    text-align: center; 
    font-size:8em; 
    padding: 30px; 
    color: rgba(220, 220, 220, 0.8);
}

.aam-current-subject {
    border-bottom: 3px solid #EEEEEE;
}

.aam-current-subject strong {
    text-transform: capitalize;
}